body {
    display: block;
    background-color: #b0b6b4;
}

main > img {
    display: none;
    border: none;
}

main > img:first-child {
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 40em) {
    main > img:first-child {
        display: none;
    }
    main > img:nth-of-type(2) {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (min-width: 70em){
    main > img:first-child {
        display: none;
    }
    main > img:nth-of-type(2) {
        display: none;
    }
    main > img:last-child{
        display: block;
        margin: 0 auto;
    }
}
